<!DOCTYPE html>
<html ng-app="kitty">
<head>
  <title>Rails Basic Template</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="vertical-center body-background" ng-view>

  <!-- if you dont need to pass any variables, you can omit `:partial =>` -->
  <%= render :partial => 'layouts/header' %>
  <%= yield %>

</body>
</html>
